<div>
  <h1>Management</h1>

  <postform page-id="pageId" post-created="postCreatedCallback(postId)"/>

  <div>
    <ul class="list-group">
      <li ng-repeat="post in posts" class="row list-group-item" id="{{post.id}}">
        <div class="col-md-12">
          <a href="https://www.facebook.com/{{post.id}}" target="_blank">{{post.details.displayTitle}}</a>
          <br/>
          <pre ng-if="post.details.display_attachments">{{post.details.attachments | json}}</pre>

          <div ng-switch on="post.details.type">

            <photo-display details="post.details" ng-switch-when="photo"/>

            <video-display details="post.details" ng-switch-when="video"/>

            <link-display details="post.details" ng-switch-when="link"/>

            <div id="display-default" ng-switch-default>
            </div>
          </div>

          <br/>
          <div class="row">
            <span class="label label-default">{{post.details.created_time| date:'MM/dd/yyyy @ h:mma'}}</span>
            <span class="label label-info">{{post.details.type}}</span>
            <span class="label label-warning">{{post.post_impressions_unique}}</span>
            <span class="label label-success" ng-if="post.details.is_published">published</span>
            <span class="label label-danger" ng-if="!post.details.is_published">unpublished</span>
          </div>
        </div>

      </li>
    </ul>
    <div class="row" id="navigate">
      <nav>
        <ul class="pager">
          <li><a ng-click="goPrevious()">Previous</a></li>
          <li><a ng-click="goNext()">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
